/* FONTS*/

.topnav {
    display: none;
}

h1 {
    /* Garamond/Gar 1 */
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 58.5938px;
    line-height: 76px;
    /* Blk&Wht/BLACK */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 00px 0px;
}

h2 {
    /* Garamond/Gar 2 */
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46.875px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    /* Blk&Wht/BLACK */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

h4 {
    /* Garamond/Gar 4 */
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    /* Blk&Wht/BLACK */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

p {
    /* DM Sans/Body 3 */
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21.875px;
    line-height: 28px;
    /* Blues/Darkest Blue */
    color: #322E5C;
}


/* BUTTONS */


/* Small White */

.buttonSmallW {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    /* Blues/Blue White */
    background: #F8F9FF;
    /* Blues/Blue */
    border: 3px solid #7692F7;
    box-sizing: border-box;
    border-radius: 40px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 88px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21.875px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* Blues/Darkest Blue */
    color: #322E5C;
}

.buttonSmallW:hover {
    /* Blues/Blue */
    background: #7692F7;
    color: #F8F9FF;
}

.buttonSmallW:active {
    background: #7692F7;
}

a {
    text-decoration: none;
}


/* Large Blue */

.buttonLargeB {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    /* Yellow/Ozone Broken */
    background: #F99645;
    border-radius: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21.875px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* Yellow/Yellow White */
    color: #FFFCF7;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.buttonLargeB:hover {
    /* Yellow/Ozone Broken */
    background: #F99645;
    box-shadow: 0px 0px 10px #CCD5FE;
    border-radius: 40px;
}

.buttonLargeB:active {
    /* Yellow/Ozone Broken */
    background: #F99645;
    box-shadow: inset 0px 4px 15px #9B6B17;
    border-radius: 40px;
    color: #442C03;
}


/* Small Blue */

.buttonSmallB {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    /* Yellow/Ozone Broken */
    background: #F99645;
    border-radius: 40px;
    border: none;
    /* Rubik/Rubik 5 */
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* Blues/Blue White */
    color: #F8F9FF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.buttonSmallB:hover {
    /* Yellow/Ozone Broken */
    text-decoration-line: underline;
    /* Yellow/Yellow White */
    color: #FFFCF7;
}

.buttonSmallB:active {
    /* Yellow/Ozone Broken */
    background: #F99645;
    box-shadow: inset 0px 4px 15px #9B6B17;
    border-radius: 40px;
}


/* NAVIGATION BAR */

.logo {
    /* Vector */
    width: 175px;
    height: 77px;
    left: 40px;
    top: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 88px;
}

nav {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    /* Blues/Baby Blanket Blue */
    background: #F2F4FF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.navGroup {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;
}

.navItem {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;
    /* DM Sans/Body 3 */
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    /* Blues/Darkest Blue */
    color: #322E5C;
}

ul {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.navItem a {
    text-decoration: none;
    color: inherit;
}

li:hover {
    color: #526AD7;
}


/* HERO BANNER */

.hero {
    /* Hero Banner */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 45px;
    /* Blues/Baby Blanket Blue */
    background: #F2F4FF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.heroCTA {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 35px 0px;
    width: 402px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.ScreenGrab {
    position: static;
    width: 517.77px;
    height: 605.03px;
    left: 721.12px;
    top: 21.37px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}


/* MAIN FUNCTIONS */

.mainFunc {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 80px 80px;
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.learnMore {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 50px 0px;
}

.functionGroup {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 50px 0px;
}

.funct-child {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 352px;
    height: 405px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 30px;
}

.featPhoto {
    width: 352px;
    height: 234px;
    left: 0px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.downloadNow {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    height: 500px;
    /* Blues/Baby Blanket Blue */
    background: #F2F4FF;
    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.imgStall {
    position: static;
    width: 467.66px;
    height: 592.91px;
    left: 345.17px;
    top: -92.96px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.downloadContent {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    width: 390px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.upcomingFeat {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 80px;
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.upContent {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 25px 0px;
}

.feat {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 476px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 70px;
}

.imgFeat {
    position: static;
    width: 372px;
    height: 279px;
    left: 433px;
    top: 31.5px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 70px;
}

footer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    /* Blk&Wht/White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.click2Download {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 0px;
}

.downloadBtn {
    width: 120px;
    height: 36px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}


/*MOBILE QUERY*/

@media screen and (max-width: 1500px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
    }
    .navGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 30px 0px;
    }
    .buttonSmallW {
        display: none;
    }
    .navItem {
        font-size: 24px;
    }
    footer {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Inside auto layout */
    }
}

@media screen and (max-width: 1430px) {
    .functionGroup {
        /* Auto layout */
        flex-direction: column;
        align-items: center;
        padding: 0px;
        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 40px 0px;
    }
    .funct-child {
        height: auto;
        width: 500;
        align-items: center;
    }
}

@media screen and (max-width: 1050px) {
    .hero {
        /* Auto layout */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
    }
    .imgStall {
        display: none;
    }
    .downloadNow {
        height: 200px;
    }
    .downloadContent {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .upContent {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .feat {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 0px 0px;
        width: auto;
    }
    /* Style the navigation menu */
    .topnav {
        display: block;
        overflow: hidden;
        background-color: #f2f4ff;
        position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: fixed;
        height: auto;
        right: 20px;
        top: 20px;
    }
    .logo {
        /* Vector */
        align-self: center;
        height: 77px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    nav {
        /* Auto layout */
        display: none;
    }
    .navGroup {
        /* Auto layout */
        display: none;
    }
    .navItem {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 1;
        margin: 0px 0px;
        /* DM Sans/Body 3 */
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 24px;
        text-align: center;
        /* Blues/Darkest Blue */
        color: #322e5c;
    }
    ul {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
    .navItem a {
        text-decoration: none;
        color: inherit;
    }
    li:hover {
        color: #526ad7;
    }
    .click2Download {
        padding: 20px;
    }
}